{% block toolbar %}
  {% set icon %}
    {{ include('@webprofiler/Icon/symfony.svg') }}
    <span class="sf-toolbar-value">{{ collector.getRenderedBlocksCount }}</span>
  {% endset %}

  {% set text %}
    {% spaceless %}
      <div class="sf-toolbar-info-piece">
        <b>{{ 'Drupal version'|t }}</b>
        <span>{{ collector.version }}</span>
      </div>
      <div class="sf-toolbar-info-piece">
        <b>{{ 'Installed profile'|t }}</b>
        <span>{{ collector.profile }}</span>
      </div>
      {% if collector.getGitCommit %}
        <div class="sf-toolbar-info-piece">
          <b>{{ 'Git commit'|t }}</b>
          <span>
            <abbr title="{{ collector.getGitCommit }}">
              {{ collector.getAbbrGitCommit }}
            </abbr>
          </span>
        </div>
      {% endif %}
      <div class="sf-toolbar-info-piece">
            <span>
              <a href="{{ collector.getConfigUrl }}"
                 title="{{ 'Configure Webprofiler'|t }}">
                {{ 'Configure Webprofiler'|t }}
              </a>
            </span>
      </div>
      <div class="sf-toolbar-info-piece">
            <span>
              <a href="{{ url("webprofiler.admin_list") }}"
                 title="{{ 'View latest reports'|t }}">
                {{ 'View latest reports'|t }}
              </a>
            </span>
      </div>
      <hr/>
      <div class="sf-toolbar-info-piece">
        <span>
          <a href="https://www.drupal.org/documentation">
            {{ 'Drupal Documentation'|t }}
          </a>
        </span>
      </div>
      <div class="sf-toolbar-info-piece">
        <span>
          <a href="https://www.drupal.org/contribute">
            {{ 'Get involved!'|t }}
          </a>
        </span>
      </div>
    {% endspaceless %}
  {% endset %}

  {{ include('@webprofiler/Profiler/toolbar_item.html.twig', { link: profiler_url }) }}
{% endblock %}

