{% block toolbar %}
  {% import _self as helper %}
  {% set request_handler %}
    {{ helper.set_handler(collector.controller) }}
  {% endset %}

  {% if collector.redirect %}
    {% set redirect_handler %}
      {{ helper.set_handler(collector.redirect.controller, collector.redirect.route, 'GET' != collector.redirect.method ? collector.redirect.method) }}
    {% endset %}
  {% endif %}

  {% if collector.forwardtoken %}
    {% set forward_profile = profile.childByToken(collector.forwardtoken) %}
    {% set forward_handler %}
      {{ helper.set_handler(forward_profile ? forward_profile.collector('request').controller : 'n/a') }}
    {% endset %}
  {% endif %}

  {% set request_status_code_color = (collector.statuscode >= 400) ? 'red' : (collector.statuscode >= 300) ? 'yellow' : 'green' %}

  {% set icon %}
    <span class="sf-toolbar-status sf-toolbar-status-{{ request_status_code_color }}">{{ collector.statuscode }}</span>
    {% if collector.route %}
      {% if collector.redirect %}{{ include('@webprofiler/Icon/redirect.svg') }}{% endif %}
      {% if collector.forwardtoken %}{{ include('@webprofiler/Icon/forward.svg') }}{% endif %}
      <span class="sf-toolbar-label">{{ 'GET' != collector.method ? collector.method }} @</span>
      <span class="sf-toolbar-value sf-toolbar-info-piece-additional">{{ collector.route }}</span>
    {% endif %}
  {% endset %}

  {% set text %}
    <div class="sf-toolbar-info-group">
      <div class="sf-toolbar-info-piece">
        <b>HTTP status</b>
        <span>{{ collector.statuscode }} {{ collector.statustext }}</span>
      </div>

      {% if 'GET' != collector.method -%}
        <div class="sf-toolbar-info-piece">
          <b>Method</b>
          <span>{{ collector.method }}</span>
        </div>
      {%- endif %}

      <div class="sf-toolbar-info-piece">
        <b>Controller</b>
        <span>{{ request_handler }}</span>
      </div>

      <div class="sf-toolbar-info-piece">
        <b>Route name</b>
        <span>{{ collector.route|default('n/a') }}</span>
      </div>

      <div class="sf-toolbar-info-piece">
        <b>Has session</b>
        <span>{% if collector.sessionmetadata|length %}yes{% else %}no{% endif %}</span>
      </div>
    </div>

    {% if redirect_handler is defined -%}
      <div class="sf-toolbar-info-group">
        <div class="sf-toolbar-info-piece">
          <b>
            <span class="sf-toolbar-redirection-status sf-toolbar-status-yellow">{{ collector.redirect.status_code }}</span>
            Redirect from
          </b>
          <span>{{ redirect_handler }}(<a href="{{ path('webprofiler.dashboard', { token: collector.redirect.token }) }}">{{ collector.redirect.token }}</a>)</span>
        </div>
      </div>
    {% endif %}

    {% if forward_handler is defined %}
      <div class="sf-toolbar-info-group">
        <div class="sf-toolbar-info-piece">
          <b>Forwarded to</b>
          <span>{{ forward_handler }}(<a href="{{ path('webprofiler.dashboard', { token: collector.forwardtoken }) }}">{{ collector.forwardtoken }}</a>)</span>
        </div>
      </div>
    {% endif %}
  {% endset %}

  {{ include('@webprofiler/Profiler/toolbar_item.html.twig', { link: profiler_url }) }}
{% endblock %}

{% macro set_handler(controller, route, method) %}
  {% if controller.class is defined -%}
    {%- if method|default(false) %}<span
      class="sf-toolbar-status sf-toolbar-redirection-method">{{ method }}</span>{% endif -%}
    {# {%- set link = controller.file|file_link(controller.line) %} #}
    {# {%- if link %}<a href="{{ link }}" title="{{ controller.class }}">{% else %}<span title="{{ controller.class }}">{% endif %} #}

    {%- if route|default(false) -%}
      @{{ route }}
    {%- else -%}
      {{- controller.class|striptags -}}
      {{- controller.method ? ' :: ' ~ controller.method -}}
    {%- endif -%}

    {%- if link %}</a>{% else %}</span>{% endif %}
  {%- else -%}
    <span>{{ route|default(controller) }}</span>
  {%- endif %}
{% endmacro %}
